*{
	margin: 0;
	padding: 0;
}

.clearfix::after{
	content: "";
	clear: both;
	display: block;
}

.underline{
	text-align: center;
    font-size: 30px;
	/*line-height: 90px;*/
	padding-top: 90px;

}

.titlebox
{
 text-align: center;
 margin-top: 30px;
 margin-bottom: 30px;
}
.text_class{
	margin: 0 auto;
	text-align: center;
	width: 30px;
	height: 3px;
	background-color: pink;
	margin-top: 8px;
}

.big_text_box{
	width: 50%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 90px;
	text-align: center;
    float: left;
}

.n{
	width: 960px;
	text-align: center;
	margin: 0 auto;
}


}
.box1{
	font-size: 20px;
	width: 100px;
	margin-bottom: 5px;

}


.box2{
   text-decoration: underline;
   font-size: 10px;
   margin-bottom:  20px;
   
  }

 .box3{
 	font-size: 20px;
 	margin-bottom: 5px;
 	
 } 

 .box4{
 	text-decoration: underline;
 	font-size: 10px;
 	}

.icon_group{
	width: 50%;
	float: right;
	font-size: 40px;
} 

.icon_group p{
	font-size: 15px;
}	

  


